{% extends 'base.html.twig' %}
 
{% block main %}
    <section>
 
    <h2>Les équipements</h2>
 
    <nav>
        <ul>
            <li><a href="/equipement/ajouter">[+] Ajouter</a></li>
            <li><a href="/equipement/supprimer_tout">[x] Tout Supprimer</a></li>
        </ul>
    </nav>
 
    {% if liste_equipements is empty %}
        <p>Aucun équipement trouvé.</p>
 
    {% else %}
    <table>
        <tr>
            <th style="width: 250px">Nom</th>
            <th style="width: 250px">Prix (euros)</th>
            <th style="width: 50px">Suppr.</th>
            <th style="width: 50px">Mod.</th>
 
        </tr>
        {% for e in liste_equipements %}
            <tr>
                <td> {{ e.eqlibelle }} </td>
 				<td> {{ e.eqprix }} </td>
                <td class="center">
                    <img src="{{ asset('images/images/delete.png') }}" alt="delete"
                    onclick="return equipement_supprimer({{ e.eqid }}, '{{ e.eqlibelle }}');" />
                </td>
                <td class="center">
                    <img src="{{ asset('images/images/modify.png') }}" alt="modify"
                    onclick="return equipement_modifier({{ e.eqid }});" />
                </td>
               
            </tr>
        {% endfor %}
    </table>
 
    {% endif %}
 
    </section>
{% endblock %}