{% extends 'base.html.twig' %}
 
{% block css %}
    {{ parent() }}
    <style>
    div#vehicule_ve_date_help {
        margin-left: 150px;
        background: lightgray;
    }
    </style>
{% endblock %}
 
{% block main %}
    <section>
 
    <h2>Ajout d'un conducteur</h2>
 
    {{ form_start(form) }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}
    
    {% if message_erreur != "" %}
    <div class="alert alert-danger" role="alert">
        {{ message_erreur }}
    </div>
    
    {% endif %}
    
   
 
{% endblock %}